#se-heading {
    color: rgba(230, 250, 52, 0.836);
    font-size: 37px;
}

#heading {
    color: rgb(243, 4, 163);
    font-size: 50px
}

/* . là class # là id  */

.uwu {
    color: rgb(47, 0, 255);
}